:root {
    --dark-mode-dark-strong: #1f1017;
    --dark-mode-dark-light: #48172b;
    --dark-mode-light: #ffa0a0;
    --light-mode-dark-strong: #fff0f0;
    --light-mode-dark-light: #ff9c9c;
    --light-mode-light: #33101e;
}

/* color management based on dark or light scheme */
@media (prefers-color-scheme: dark) {
    .background-light-color {
        background-color: var(--dark-mode-dark-strong);
    }

    .background-color {
        background-color: var(--dark-mode-dark-light);
    }

    .text-color {
        color: var(--dark-mode-light);
    }

    .material-card {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .material-card:hover {
        box-shadow: 0 0 0 2px var(--dark-mode-light);
    }
}

@media (prefers-color-scheme: light) {
    .background-light-color {
        background-color: var(--light-mode-dark-strong);
    }

    .background-color {
        background-color: var(--light-mode-dark-light);
    }

    .text-color {
        color: var(--light-mode-light);
    }

    .material-card {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .material-card:hover {
        box-shadow: 0 0 0 2px var(--light-mode-light);
    }
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}


/* main grid */
@media (min-width: 600px) {
    .timer-selection-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .timer-selection-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }

    .timer-selection-grid-element {
        margin-bottom: 20px;
    }
}

.timer-selection-grid-element {
    padding: 20px;
    height: fit-content;
    height: -moz-fit-content;
    line-height: 50px;
    cursor: pointer;
}

.timer-title-element {
    margin-bottom: 10px;
}


/* the material card style */
.material-card {
    position: relative;
    display: block;
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}


/* adjust the text size depending on the window width */
@media (min-width: 600px) {
    .adjust-text-size-small {
        font-size: max(3vw, 50px);
    }

    .adjust-text-size-smaller {
        font-size: max(2vw, 30px);
    }

    .adjust-text-size-header {
        font-size: 40px;
    }

    .adjust-text-size-header-small {
        font-size: 20px;
    }

    .adjust-text-size-large-countdown {
        font-size: max(13vw, 105px);
    }
}

@media (max-width: 600px) {
    .adjust-text-size-small {
        font-size: max(10vw, 30px);
    }

    .adjust-text-size-smaller {
        font-size: 7vw;
    }

    .adjust-text-size-header {
        font-size: 30px;
    }

    .adjust-text-size-header-small {
        font-size: 15px;
    }

    .adjust-text-size-large-countdown {
        font-size: 15vw;
    }
}


.center-text-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-text-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* other styling */
.header-title {
    width: 100%;
    display: block;
    padding: 10px 10px 10px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.unselectable {
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.input {
    padding: 12px 20px;
    margin: 8px 4px;
    border: none;
    border-bottom: 3px solid #a25454;
    background-color: #0000;
    font-size: 22px;
    max-width: 80vw;
}

#large-countdown {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    line-height: max(11vw, 90px);
}

.top-icons {
    position: absolute;
    top: 14px;
    left: 6px;
}

.large-view-top-indicator {
    border: none;
    padding: 6px 10px;
    margin: 5px 3px;
    border-radius: 4px;
    font-size: 22px;
    max-width: 80vw;
    box-shadow: #00000052 1px 1px 1px 1px;
}

/* animations */
.fade-out-animation {
    animation: fade-out 5s ease;
    -webkit-animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
    }

    100% {
        opacity: 0;
    }
}

/* background waves */
.background-wave {
    /*aspect-ratio: 900/600;*/
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/red-layered-waves.svg');
}

.background-wave-top {
    position: absolute;
    top: 0;
}

.background-wave-bottom {
    position: absolute;
    bottom: 0;
}

/* utility classes */
.flip {
    transform: rotate(180deg);
}

.center-screen {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.floating-action-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    padding: 0 24px;
    border-radius: 30px;
}